<% content_for :title do %>towerofglass.com<% end %>
<div class="gridster">
    <ul>
            <li data-row="1" data-col="3" data-sizex="2" data-sizey="1">
             
                <script src="https://sensr.net/javascripts/swfobject.js" type="text/javascript"></script>
                                  
        <div data-id="picture" data-view="BigImage" data-image="http://fxp15.sensr.net/stream/febba5e46af64bd57bbf9685d81e6e2817c56681"
            style="background-color:transparent;"
            data-max="true">
        </div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="soc" data-view="Meter" data-title="Battery %" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="data" data-view="Text" data-title="Data Allowance Remaining"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="voltage" data-view="Number" data-title="Battery Voltage (v)"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="forecast" data-view="Forecast" data-title="Weather Forecast" ></div>
      </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="pv" data-view="Graph" data-title="PV Power (W)" style="background-color:#ff9618"></div>
    </li>
  </ul>
</div>
