<% content_for :title do %>towerofglass.com<% end %>
<div class="gridster">
    <ul>
            
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="hll" data-moreinfo="Most Likely" data-view="Number" data-title="" data-min="0" data-max="100" data-prefix="$" style="background-color:#96bf48;"></div>
    </li>
            
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="hl" data-moreinfo="Biggest Long" data-view="Number" data-title="" data-min="0" data-max="100" data-prefix="$" style="background-color:#g56f48;"></div>
    </li>
            
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="hs" data-moreinfo="Biggest Short" data-view="Number" data-title="" data-min="0" data-max="100" data-prefix="$" style="background-color:#87df48;"></div>
    </li>
            
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="hlpv" data-moreinfo="Best Long" data-view="Number" data-title="" data-min="0" data-max="100" data-prefix="$" style="background-color:#ff5f48;"></div>
    </li>
            
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
    <div data-id="hlpvd3" data-moreinfo="Best Long > 3%" data-view="Number" data-title="" data-min="0" data-max="100" data-prefix="$" style="background-color:#07ff48;"></div>
    </li>
            
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
    <div data-id="hlpvd5" data-moreinfo="Best Long > 5%" data-view="Number" data-title="" data-min="0" data-max="100" data-prefix="$" style="background-color:#555f48;"></div>
    </li>
            
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
    <div data-id="hlpvd10" data-moreinfo="Best Long > 10%" data-view="Number" data-title="" data-min="0" data-max="100" data-prefix="$" style="background-color:0000ff;"></div>
    </li>
            
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="hspv" data-moreinfo="Best Short" data-view="Number" data-title="" data-min="0" data-max="100" data-prefix="$" style="background-color:#96bf48;"></div>
    </li>
            
  </ul>
</div>
