<% content_for :title do %>towerofglass.com<% end %>
<div class="gridster">
    <ul>
    <li data-row="1" data-col="3" data-sizex="2" data-sizey="1">
        <div data-id="picture" data-view="BigImage" data-image="http://icons.wxug.com//webcamramdisk/s/n/snaggled/1/current.jpg"
            style="background-color:transparent;"
            data-max="true">
        </div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="soc" data-view="Meter" data-title="Battery %" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="buzzwords" data-view="List" data-unordered="true" data-title="Buzzwords" data-moreinfo="# of times said around the office"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="forecast" data-view="Forecast" data-title="Weather Forecast" ></div>
      </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="voltage" data-view="Graph" data-title="Battery Voltage" style="background-color:#ff9618"></div>
    </li>
  </ul>
</div>
